<footer class="default-footer">
    <h3>Jodie McLaughlin, 2026</h3>
    <div class="footer-links">
        <a href="/">Home</a>
        <a href="/albums">Albums</a>
        <a href="/About">About Us</a>
    </div>
    <p class="copyright">
        © 2026 Vinyl Resting Place
    </p>
</footer>

@code {

}
