@using Record_Store_FrontEnd.Components.Layout;
<header class="default-header">
    <h1>Vinyl Resting Place</h1>
    <h2>Welcome to your Vinyl Resting Place! The final destination for music lovers. </h2>
    <img class="store-logo" src="Vinyl-Resting-Place-Logo.png" alt="Logo for Vinyl Resting Place" width="104" height="104"/>
    <NavMenu/>
</header>

@code {

}
