@using Record_Store_FrontEnd.Components.Layout;
<header class="default-header">
    <div class="header-left">
        <h1 id="store-name">Vinyl Resting Place</h1>
        <h4 class="default-welcome">Welcome to your Vinyl Resting Place! The final destination for music lovers. </h4>
    </div>
    <img class="store-logo" src="Vinyl-Resting-Place-Logo2.png" alt="Logo for Vinyl Resting Place" width="104" height="104"/>
    <NavMenu/>

</header>

@code {

}
