@using Record_Store_FrontEnd.Models;

<div class="record-grid">
    @foreach (var record in Record)
    {
        
            <RecordSummary Record ="record"/>
       
    }
</div>

@code {
    [Parameter]
    public List<Record> Record { get; set; }

}
