@page "/About"
<PageTitle>About Us</PageTitle>
<div class="about-page">
<h2 class="about-title">About Us</h2>
<div class="about-grid">
<img id="about-img" src="/Vinyl-Resting-Place-Logo2.png" alt="Vinyl Resting place logo" width="400" height="400"/>
<p id="about-info">Welcome to Vinyl Resting Place, the ultimate final destination for music lovers across the UK. We are an independent, online-only record shop dedicated to giving great music eternal life on your turntable. Whether you are a seasoned audiophile searching for rare, pre-loved vintage gems or a newcomer looking for the latest new-release pressings, our digital crates are fully stocked. We refuse to pin ourselves down to just one sound, meaning you will find everything from classic rock and smooth jazz to modern hip-hop and obscure electronic beats on our shelves. No algorithms, no digital noise—just high-quality wax, carefully packaged and shipped straight to your door. Stop scrolling, start digging, and find the sounds that will haunt you forever.</p>
</div>
</div>

@code {

}
