@using Record_Store_FrontEnd.Models
@page "/"

<PageTitle>Home</PageTitle>
<section class="hero-section">

    <div class="hero-text">
        <h1>Rare Grooves. Timeless Classics.</h1>

        <p>
            Discover legendary albums, hidden gems,
            and the soundtrack to your next obsession.
        </p>

        <button>Browse Collection</button>
    </div>

    <div class="hero-image">
        <img src="vinyl-record.png" alt="Vinyl Record">
    </div>

</section>

@* Featured Records Section *@

@* Browse by genre buttons *@
@* Why Vinyl? section *@
@* Now spinning section*@

@code{
    

}
