@inherits LayoutComponentBase
<Header />
<div class="page">
    <div class="sidebar">
        
    </div>
    <main>
        @Body
    </main>
</div>
<Footer />
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
