@inherits LayoutComponentBase

<head>
    <link class="texturina-font" rel="preconnect" href="https://fonts.googleapis.com">
    <link class="texturina-font" rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link class="texturina-font" href="https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap" rel="stylesheet">
</head>

    
<div class="page-container">
        <Header />
    <main class="main-content">
        @Body
    </main>

<Footer />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
